<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">
	<!-- AOP学习时的配置 -->
	<bean id="DukePerformer" class="demoinfo.spring.aop.DukePerformer">
		<property name="name" value="duke" />
	</bean>
	<bean id="audience" class="demoinfo.spring.aop.Audience" />
	
	<aop:config>
		<!-- 定义切入点 -->
		<aop:pointcut id="sing" expression="execution(* *.perform(..))"/>
		<!-- 定义切面 -->
		<aop:aspect ref="audience">
			<!-- 前置通知 -->
			<aop:before method="takeSeat" pointcut-ref="sing" />
			<aop:before method="turnOffPhone" pointcut-ref="sing" />
			<!-- 返回后通知 -->
			<aop:after-returning method="applaud" pointcut-ref="sing" />
			<!-- 抛出后通知 -->
			<aop:after-throwing method="unHappy" pointcut-ref="sing" />
		</aop:aspect>
	</aop:config>
	<!-- AOP学习时的配置 -->
</beans>