<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context   
     http://www.springframework.org/schema/context/spring-context-3.0.xsd   
     http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd 
     http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd"
     default-autowire="byName">

	<!-- 简单的增删改查的操作 -->
	<bean id="crudAction" class="demoinfo.hibernate.crud.CrudAction"
		scope="prototype">
	</bean>
	<!-- 关系的操作 -->
	<bean id="relationShipAction" class="demoinfo.hibernate.relationship.RelationShipAction"
		scope="prototype">
	</bean>
	<!-- ajax中的Action -->
	<bean id="ajaxAction" class="demoinfo.ajaxjs.ajax.AjaxAction" scope="prototype">
	</bean>
	<!-- demoinfo中的Action -->
	<bean id="demoinfoAction" class="maintain.action.DemoInfoMaintainAction" scope="prototype">
	</bean>
	<!-- struts中的Action -->
	<bean id="fileUploadAction" class="demoinfo.struts2.fileupload.FileUploadAction" scope="prototype">
	</bean>
	<bean id="jsonAction" class="demoinfo.struts2.json.JsonAction" scope="prototype">
	</bean>
	<bean id="tagAction" class="demoinfo.struts2.tag.TagAction" scope="prototype">
	</bean>
	<bean id="validationAction" class="demoinfo.struts2.validation.ValidationAction" scope="prototype">
	</bean>
	<bean id="loginAction" class="demoinfo.struts2.interceptor.LoginAction" scope="prototype">
	</bean>
	
	<!-- webservice中的Action -->
	<bean id="httpclientAction" class="demoinfo.webservice.httpclient.WebServiceAction" scope="prototype">
	</bean>
	<bean id="soapAction" class="demoinfo.webservice.soap.WebServiceAction" scope="prototype">
	</bean>
	<bean id="xfireAction" class="demoinfo.webservice.xfire.WebServiceAction" scope="prototype">
	</bean>
	<bean id="xstreamAction" class="demoinfo.webservice.xstream.WebServiceAction" scope="prototype">
	</bean>

</beans>
