<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
				http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
				http://www.springframework.org/schema/context 
				http://www.springframework.org/schema/context/spring-context-2.5.xsd
				http://www.springframework.org/schema/tx 
				http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">


	<bean id="clearService" class="demoinfo.struts2.fileupload.ClearServiceImpl" />
	<!-- 配置一个Job -->
	<bean id="clearJob" class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass" value="demoinfo.struts2.fileupload.ClearJob" />
		<property name="jobDataAsMap">
			<map>
				<entry key="clearService" value-ref="clearService"></entry>
			</map>
		</property>
	</bean>

	<!-- 简单的触发器 -->
	<bean id="simplePrintInfoTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerBean">
		<property name="jobDetail">
			<ref bean="clearJob" />
		</property>
		<property name="startDelay">
			<value>6000</value>
		</property>
		<property name="repeatInterval">
			<value>6000</value>
		</property>
	</bean>

	<!--复杂的触发器 -->
	<bean id="complexPrintInfoTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="clearJob" />
		</property>
		<property name="cronExpression">
			<value>00,05,10,15,20,25,30,35,40,45,50,55 * * * * ?</value>
		</property>
	</bean>

	<!-- spring触发工厂 -->
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="complexPrintInfoTrigger" />
			</list>
		</property>
	</bean>
</beans>